body{
	margin: 0px;
}

.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

h1{
	font-family: fantasy;
	font-size: 3em;
	/*border-bottom: 2px solid pink;
	border-right: 2px solid pink;*/
	width: 400px;
	text-align: center;
	margin: auto; /*centers h1 to mid of the browser*/
	box-shadow: 4px, 4px, 5px, #888888; /*horizontal, vertical, blur, spread, color*/
	/*-moz-box-shadow: 4px, 4px, 5px, #888888; Refer to w3schools for browser compatibility selectors*/
	margin-top: 10px;
}

img{
	width: 874px;
	height: 620px;
	margin: 10px;
	transition: all 1s;
}

.Container_Portrait {
	width: 620px;
	height: 874px;
	margin: 10px;
	transition: all 1s;
}

img:hover{
	transform: scale(1.1);
}